.filters-box,
.button-group,
h2 {
	display :none;
}

a {
	text-decoration : none;
}

table {
	width : 100%;
	border : 1px solid #999;
}

th {
	background : #808080;
	color : #FFF;
	font-weight : bold;
}

tr.odd {
	background : #E6E6E6;
}

td {
	padding : 5px;
}